body {
    background-color: #3466AF;
    color: #FFCB05;
    font-family: "Pokemon Solid";
}

#logo {
    width: 80px;
}

#pokemon-list {
    display: flex;
}

#pokemon-list img {
    width: 200px;
    height: 200px
}

div button {
    font-family: 'Exo', sans-serif;
    font-family: 'Exo 2', sans-serif;
}