body {
    background-color: g;
    color: #FFCB05;
    font-family: 'Exo 2', sans-serif
}

body h1 {
    font-size: 35px;
}
#logo {
    width: 80px;
}

#pokemon-list {
    display: flex;
}

#pokemon-list div{
    text-align: center;
}

#pokemon-list img {
    width: 160px;
    height: 160px
}

#poke-image {
    width: 320px;
    height: 320px;
}

div button {
    font-family: 'Exo', sans-serif;
    font-family: 'Exo 2', sans-serif;
}

#poke-menu-name {
    font-family: 'Exo', sans-serif;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}